/* app/globals.css */
@import 'tailwindcss';

@theme {
    --color-sage-50: #f0f2eb;
    --color-sage-100: #e1e8dc;
    --color-sage-500: #527063;
    --color-sage-800: #2e5446;
    --color-sage-900: #1e362d;
    --color-terracotta-500: #c26241;
}
